.contact-container {
  max-width: 1200px;
  margin: 20px auto;
  margin-top: 6rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact-container h2 {
  color: #9c7815;
}
.contact-description {
  margin-top: 15px;
  margin-top: 10px;
  max-width: 800px;
  color: #9c7815;
}
.contact-container h2 {
  text-align: center;
}
.contact-container hr {
  width: 250px;
  border: none;
  border-top: 2px solid #9c7815;
  margin: 15px auto;
  opacity: 0.8;
}

.contact-content {
  display: flex;
  width: 100%;
  padding: 20px 0;
}
.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Right align */
  width: 100%; /* Adjust as needed */
  margin-left: auto; /* Push to the right */
  margin-top: 2rem;
}
.contact-image-container {
  width: 36%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-image {
  max-width: 100%;
  max-height: 450px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: #fff;
  font-size: 16px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form .contact-btn {
  padding: 10px 20px;
  background-color: #9c7815;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form .contact-btn:hover {
  background-color: #7a5d0f;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 20px; /* Spacing between form and icons */
}

.social-icons a {
  font-size: 2rem;
  color: #f8f8f8;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #3498db;
}

.status-message {
  margin-top: 20px;
  text-align: center;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-image-container {
    display: none;
  }
  .contact-form-container {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }
  .contact-form {
    max-width: 90%;
  }
  .social-icons {
    justify-content: center;
  }
}
